
# komkastkiller.service

# Install this script to /lib/systemd/system/kkiller.service and
  enable the service using the command:

# $ sudo systemctl enable kkiller.service

[Unit]
Description=Kulshan Komkast Killer
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/bin/kulshankomkastkiller.py
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=kkiller.service
